<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dainik Groceries</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <header>
        <h1>Welcome to the Grocery Delivery Service</h1>
        <nav>
            <ul>
                <li><a href="/users/login">Login</a></li>
                <li><a href="/users/register">Register</a></li>
                <li><a href="/products">Products</a></li>
                <li><a href="/orders/checkout">Order Management</a></li>
            </ul> <br> <hr>
            <a href="/admin"><button type="button" id="admin-btn" class="view-btn"> ADMINISTRATOR VIEW </button></a><br>
            <a href="/users/login"><button type="button" id="delivery-btn" class="view-btn"> DELIVERY PERSONNEL VIEW </button></a>
        </nav>
    </header>
    <div id="blank"></div>
    <footer>
        <p>&copy; 2024 Vanshika Bhalla &hearts;</p>
    </footer>

    <script src="static/app.js"></script>
</body>
</html>
